<!DOCTYPE html>
<html>
  <head>
    <title>Weather Forecaster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Weather Forecaster</h1>
    <%= flash.alert %>
    <%= yield %>
  </body>
</html>
